{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
  <form method="post" action="{{ action }}" class="w-11/12 flex flex-col items-center gap-6" up-submit up-target=".root">
    {% csrf_token %}
    <div class="w-11/12 flex flex-col items-start justify-start gap-2 px-2 text-white">
      {{ form.title.label_tag }}
      {{ form.title }}
    </div>
    <div class="w-11/12 flex flex-col items-start justify-start gap-2 px-2 text-white">
      {{ form.media }}
      {{ form.content.label_tag }}
      {{ form.content }}
    </div>
    <div class="w-11/12 flex items-center justify-end gap-4 px-2">
      <a href="{% url 'issues:index' %}" class="btn-primary p-4 text-lg bg-slate-700 dark:bg-slate-700 hover:bg-slate-600 hover:dark:bg-slate-600 cursor-pointer" up-target=".root">Cancel</a>
      <button id="submit-btn" type="submit" class="btn-primary p-4 text-lg" up-target=".root">{{ viewname }}</button>
    </div>
  </form>
{% endblock %}

{% block js %}

{% endblock %}
